/* Utilidades */
:root {
    --primario:rgb(20, 83, 81);
    --primarioClaro: rgb(44, 188, 164);
    --secundarioClaro:  rgb(220, 163, 21);
    --secundario:  rgb(105, 42, 0);
    --secundarioOscuro: rgb(63, 45, 0);
}
.activo {
    color: var(--secundarioClaro);
}

/* Navegacion Superior */
.navegacion {
    justify-content: center;
    height: auto!important;
    margin-left: 0px!important;
}
.menu_barra {
    transition: all .6s ease;
}
.menu_barra a {
    margin-left: 1rem;
}
@media (min-width: 375px) {
    .menu_barra a {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .menu_barra {
        display: none;
    }
}
.texto_logo {
    color: var(--secundarioClaro);
    font-weight: bold!important;
}

.navegacion_center {
    justify-content: center!important;
    margin-left: 4rem;
}
@media (min-width: 768px) {
    .navegacion_center {
        margin-left: 0;
    }
}
.icono {
    text-align: center center;
    height: auto!important;
    padding: 0;
    padding-left: 0!important;
}
@media (min-width: 768px) {
    .icono {
        margin: 0 1rem;
    }
}
.icono i {
    font-size: 1.5rem;
}
.navegacion_right {
    right: 0;
    float: right;
    justify-content: right!important;
    text-align: right!important;
    align-items: flex-end;
}
.navegacion_right li a {
    text-align: center center;
    height: auto!important;
}

/* Sidebar */
.main_sidebar_left {
    margin-top: 60px;
    margin-left: 0;
}
.sidebar_left {
    margin-top: 0!important;
}
.controls {
    width: 13rem;
    height: 2rem;
}

/* Contenido Principal */
.contenido_principal {
    float: right;
    width: 100%;
}
@media (min-width: 768px) {
    .contenido_principal {
        float: right;
        width: 75%;
    }
}
@media (min-width: 998px) {
    .contenido_principal {
        float: left;
    }
}

.social {
    padding-top: 2rem;
    justify-content: center;
}

/* Chat */
.chat {
    position: fixed;
    bottom: -1rem;
    right: 0rem;
    min-width: 15rem;
    z-index: 1100;
}
@media (min-width: 998px) {
    .chat {
        min-width: 20rem;
    }
}

/* Footer */
.login-page .main-footer, 
.register-page .main-footer {
    display: none;
}

/* Paginas Internas */
/* Contactos */
.nombre_card {
    align-items: center;
}

/* Perfil */
.image_area {
    position: relative;
}
.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}
.modal-lg{
    max-width: 1000px !important;
}
.overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0;
    transition: .5s ease;
    width: 100%;
}
.image_area:hover .overlay {
    height: 50%;
    cursor: pointer;
}
.text {
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}